/*reset*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1 {
    color: #e53170;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

.f-s-20 {
    font-size: 25px;
}

.container-text {
    text-align: center;
    width: 80%;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
    color: #e91e63;
    font-size: 24px;
    font-weight: bold;
}

.description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.team-member {
    display: flex;
    background: black;
    color: white;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 470px;
}

.team-member img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.info h3 {
    font-size: 16px;
    margin: 0;
}

.info p {
    font-size: 14px;
    margin: 2px 0;
}

.email {
    color: #00aaff;
}

.btn {
    width: 100px;
    color: white;
    background-color: #00aaff;
    padding: 10px;
}